*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;

  display: grid;
  place-content: center;

  min-height: 100vh;

  margin: 0;

  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  display: flex;

  align-items: flex-end;
  justify-content: center;

  margin: 0;
}

p {
  text-align: center;
}

.version {
  font-weight: bold;
}